<div>
    <h2>Lista de productos</h2>
    <div>
        <ul>
            {{#each productsArray}}
                <li>{{this.title}}</li>
            {{/each}}
        </ul>
    </div>
</div>
{{!-- <script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script> --}}